stages:
  - deploy

deploy_to_infinityfree:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache lftp
  script:
    - echo "Iniciando deploy a InfinityFree..."
    - lftp -e "
      set ftp:ssl-allow no;
      open -u $FTP_USER,$FTP_PASS $FTP_HOST;
      mirror -R ./ /htdocs/ --exclude .git* --exclude .gitlab-ci.yml;
      bye
      "
  only:
    - branches