Options -Indexes

<FilesMatch ".*\.(log|ini|htaccess)$">
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rutas especiales
    RewriteRule ^usuario/publico/([^/]+)/?$ /perfil/$1 [R=301,L]

    RewriteRule ^rankings/?$ index.php?controller=RankingController&method=verRankings [QSA,L]
    RewriteRule ^perfil/([^/]+)/?$ index.php?controller=UsuarioController&method=publico&username=$1 [QSA,L]
    RewriteRule ^perfil/?$ index.php?controller=UsuarioController&method=perfil [QSA,L]
    RewriteRule ^modo/?$ index.php?controller=PartidaController&method=mostrarModo [QSA,L]
    RewriteRule ^reglas/?$ index.php?controller=PartidaController&method=mostrarReglas [QSA,L]
    RewriteRule ^ruleta/?$ index.php?controller=PartidaController&method=mostrarRuleta [QSA,L]
    RewriteRule ^login/?$ index.php?controller=login [QSA,L]
    RewriteRule ^login/logout/?$ index.php?controller=login&method=logout [QSA,L]

    # Si existe archivo o carpeta → no reescribir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Controller + method + extra
    RewriteRule ^([^/]+)/([^/]+)/(.+)$ index.php?controller=$1&method=$2&extra=$3 [QSA,L]

    # Controller + method
    RewriteRule ^([^/]+)/([^/]+)/?$ index.php?controller=$1&method=$2 [QSA,L]

    # Solo controller
    RewriteRule ^([^/]+)/?$ index.php?controller=$1 [QSA,L]
</IfModule>
